*~
__pycache__/
*.egg-info
data/
instance/
.*node_modules/
logs/
*__pycache__*
*.ipynb_checkpoints*
trajs/
models/
.idea/
.mypy_cache/
influence_experiments/experiment_results/
influence_experiments/experiment_results_aug6/
influence_experiments/experiment_results_july29/
influence_experiments/loggers/
influence_experiments/saved_models/
influence_experiments/past_exps
images/
coordination_experiments/exp_results/
coordination_experiments/loggers/
